@use 'variables';
.body-todo-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7rem 0;
    .box-todo-list{
        padding: 1rem;
        background: variables.$white;
        box-shadow: 0 1px 2px rgb(0, 0, 0, .15);
        border-radius: 7px;
        position: relative;
    }
}
